out/
node_modules/
src/
.vscode/**
.vscode-test/**
.vscode-test.mjs
test/**
**/test/**
**/*.map
.gitignore
tsconfig.json
webpack.config.js
eslint.config.mjs
-**/tsconfig.json
-**/eslint.config.mjs
-**/*.map
-**/*.ts
-**/.vscode-test.*